$monstserrat-font: 'Montserrat', sans-serif;
$libre-font: 'Libre Baskerville', serif;

$color-white: #ffffff;
$color-black: #000000;

$color-grey: #c4c4c4;

$color-gold: #caac6e;

$color-dark: #151515;
$color-choco: #222222;

$color-choco-light:#3c3c3c;