.newsBox {
  max-width: 1025px;

  &__item {
    display: flex;
    background-color: $color-dark;
    margin-bottom: 2rem;

    @include responsive(phone-landscape){
      flex-direction: column;
    }
  }

  &__thumbnail {
    position: relative;
    overflow: hidden;
    width: 41%;
    height: 400px;

    @include responsive(phone-landscape){
      width: 100%;
    }
  }

  &__image {
    @include image-object-fit;
  }

  &__content {
    padding: 2.6rem 3rem 3rem;
    width: 60%;

    @include responsive(phone-landscape){
      padding: 2.6rem 2rem 3rem;
      flex-direction: column;
      width: 100%;
    }
  }

  &__title {
    color: $color-gold;
    font-size: 17px;
  }

  &__info {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 12px;
    color: $color-grey;
  }

  p {
    color: $color-grey;
    font-size: 14px;
    line-height: 1.8em;
  }
}